@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&amp);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,300italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700);
/* ==========================================================================
Typography
========================================================================== */
p {
  font-size: 14px;
  font-weight: normal;
  line-height: 29px;
  color: black; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 40px;
  font-weight: 300; }

h3 {
  font-size: 24px;
  line-height: 29px;}

h4 {
  font-size: 24px; }

h5 {
  font-size: 18px;
  line-height: 29px;
  text-transform: uppercase;
  font-weight: 600; }

button {
background: transparent;}

.btn {
  font-size: 14 px;
  border: solid 1px;
  border-radius: 4px;
  display: inline-block;
  text-transform: uppercase; }

.btn:hover, .btn:focus {
  color: ghostwhite;
  border-color:  black;
  background-color:   rgba(0,0,40,0.8)}

.btn-white {
  font-size: 13px;
  border: solid 1px;
  border-radius: 4px;
  display: inline-block;
  border-color:  black }

.btn-white:hover, .btn-white:focus {
  border-color: black;
  background-color:rgba(255,255,255, 0.5); }

.btn-fill {
    color: white;
  background-color:  turquoise;}

  .btn-fill2 {
    color: white;
    background-color: #8191be;}


.btn-small {
  padding: 6px 30px;}

.btn-large {
  padding: 8px 30px; }

  .btn-login {
      padding: 6px 30px;
    width: 42.5%;}

.btn-margin-right {
  margin-right: 15px; }

  .btn-margin-right-top {
    width: 90%;
    margin-top: 20px;
    margin-right: 15px; }

  .btn-margin{
  margin: 20px 0 ;
  margin-left: 55px;
  }

  .toggle {
    position: absolute;
    top: 49%;
    margin-left: 120px;
    width: 35px;
    height: 15px;
    border-radius: 100px;
    background-color: rgba(0,0,0,.1);
    overflow: hidden;
    box-shadow: inset 0 0 2px 1px #CDE1E7;
  }

  .check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;
  }

    .check:checked ~ .track {
      box-shadow: inset 0 0 0 20px turquoise;
    }

    .check:checked ~ .switch {
      right: 2px;
      left: 22px;
      transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
      transition-property: left, right;
      transition-delay: .05s, 0s;
    }

  .switch {
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 22px;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: 0s, .05s;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
  }

  .track {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.05);
    border-radius: 40px;
  }


section.intro, section.aboutus-intro, section.plan{
background: white; }

section.features, section.padding, section.sign-up  {
  background: ghostwhite; }

/* ==========================================================================
Global Styles
========================================================================== */
.group:after {
  content: "";
  display: table;
  clear: both; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

a {
  color:  black;
  font-weight: 400;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color; }

a:hover, a:focus {
  color: black;
font-weight: 600;
  text-decoration: none; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: black;
  -webkit-text-size-adjust: 100%; }

ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

.section-padding {
  padding: 40px 0; }

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0; }

.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9; }

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px; }

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px; }

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px; }

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px; }

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #000;
  border-radius: 4px; }

/* ==========================================================================
Animations
========================================================================== */
.pulse2 {
  -webkit-animation-name: pulse2;
          animation-name: pulse2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

@-webkit-keyframes pulse2 {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes pulse2 {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
.floating-arrow {
  -webkit-animation-name: floating-arrow;
          animation-name: floating-arrow;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }

@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  65% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

@keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  65% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }
.floating-logo {
  -webkit-animation-name: floating-logo;
          animation-name: floating-logo;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }

@-webkit-keyframes floating-logo {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  50% {
    -webkit-transform: translate(-50%, 10px);
            transform: translate(-50%, 10px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

@keyframes floating-logo {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  50% {
    -webkit-transform: translate(-50%, 10px);
            transform: translate(-50%, 10px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }
/* ==========================================================================
Waypoinsts
========================================================================== */
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6, .wp7, .wp8, .wp9 {
  visibility: hidden; }

.wp2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown {
  visibility: visible; }

/* ==========================================================================
Navigation
========================================================================== */
.header-nav.open {
  visibility: visible;
  opacity: 0.9;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.nav-toggle {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 999999;
  padding: 10px 35px 16px 0;
  cursor: pointer; }

.nav-toggle:focus {
  outline: none; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 1px;
  border-radius: 1px;
  background: #111;
  cursor: pointer; }

.nav-toggle span:before {
  top: -10px; }

.nav-toggle span:after {
  bottom: -10px; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.nav-toggle.active span {
  background-color: transparent; }

.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0; }

.nav-toggle.active span:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-toggle.active span:after {
  top: 10px;
  -ms-transform: translatey(-10px) rotate(-45deg);
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg); }

.navicon {
  position: absolute;
  height: 26px;
  right: 10px;
  top: 48px;
  visibility: hidden;
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out; }

/* ==========================================================================
Hero
========================================================================== */
.hero {
  min-height: 700px;
  background-color: #d9dee7;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSI1MCUiIGN5PSIwJSIgcj0iMTExLjgwMzM5ODg3NDk4OTQ4JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2Y4ZjhmYiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjZjhmOGZmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNlMGU0ZTgiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjQwOSIvPjxzdG9wIHN0b3AtY29sb3I9IiNjNWNjZGIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjcxNDAwMDAwMDAwMDAwMDEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
  /* Android 2.3- hack (needed for the actual radial gradient) */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSI1MCUiIGN5PSIwJSIgcj0iMTExLjgwMzM5ODg3NDk4OTQ4JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2Y4ZjhmYiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjZjhmOGZmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNlMGU0ZTgiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjQwOSIvPjxzdG9wIHN0b3AtY29sb3I9IiNjNWNjZGIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjcxNDAwMDAwMDAwMDAwMDEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=),
      -webkit-gradient(radial, center top, 0, center top, 572,color-stop(0, rgb(248, 248, 251)),color-stop(0, rgb(248, 248, 255)),color-stop(0.409, rgb(224, 228, 232)),color-stop(0.714, rgb(197, 204, 219)));
  /* Android 2.3 */
  background-image: -webkit-radial-gradient(center top, ellipse farthest-corner,rgb(248, 248, 251) 0%,rgb(248, 248, 255) 0%,rgb(224, 228, 232) 40.9%,rgb(197, 204, 219) 71.4%);
  /* IE10+ */
  background-image: radial-gradient(ellipse farthest-corner at center top,rgb(248, 248, 251) 0%,rgb(248, 248, 255) 0%,rgb(224, 228, 232) 40.9%,rgb(197, 204, 219) 71.4%);
  background-image: -ms-radial-gradient(center top, ellipse farthest-corner,rgb(248, 248, 251) 0%,rgb(248, 248, 255) 0%,rgb(224, 228, 232) 40.9%,rgb(197, 204, 219) 71.4%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff8f8fb",endColorstr="#ffc5ccdb",GradientType=0);
  background-size: cover;
  position: relative; }
  .hero .down-arrow a {
    color: black; }
  .hero h1 {
    color: black;
    margin-bottom: 40px; }
  .hero p.intro {
    color: black;
    font-size: 24px;
    margin-bottom: 80px; }
  .hero .hero-content {
    padding-top: 26%; }

.navigation {
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 999;
   background:rgba(248, 248, 255, 0.5);}

.fixed {
  position: fixed;
  background-color: ghostwhite;
  border-bottom: solid 1px white;
  z-index: 999;
  width: 100%; }

header {
  padding: 40px 0;
  border-bottom: solid 1px black;
  position: relative;
  width: 1170px;
  margin: 0 auto;
  -webkit-transition: padding 300ms ease-in-out;
          transition: padding 300ms ease-in-out; }
  header a {
    color: black;
    text-transform: uppercase;
    font-size: 13px;}
    header a.login {
      margin-right: 15px;}
  header .logo {
    display: inline-block;
   width: 141px;
 height: 42px;}
  header ul.primary-nav {
    margin: 0 0 0 45px; }
    header ul.primary-nav li {
      display: inline; }
      header ul.primary-nav li a {
        color: back;
        padding-right: 15px; }
        header ul.primary-nav li a:hover {
          color: #00ffff}
      header ul.primary-nav li:last-child a {
        padding-right: 0px; }
  header ul.member-actions li {
    display: inline; }
    header ul.member-actions li a {
      color: black; }
      header ul.member-actions li a:hover {
      }
  header .header-nav {
    display: inline-block; }
  header .member-actions {
    position: absolute;
    right: 0;
    top: 10px;
    -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out; }

.down-arrow {
  color: #fff;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

/* ==========================================================================
Intro
========================================================================== */
.intro span.icon {
  font-size: 40px;
  color:#7c7c7f ; }

.intro-icon {
    padding:  10px 0 20px  0;
    text-align: center;}

.intro-content {
  display: inline-block;
  text-align:justify;;
  width: 92%;}

/* ==========================================================================
Features-stack
========================================================================== */
.features {
  position: relative; }
  .features p {
    margin-bottom: 0;
    padding-bottom: 0; }
  .features h3 {
    margin: 0 0 20px 0; }
  .features span.icon {
    font-size: 35px;
    color: #7c7c7f ;
    font-weight: bold; }
  .features .feature-icon {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0 0 0;
    margin-right: 20px;
    width: 35px; }
  .features .feature-content {
    display: inline-block;
    width: 75%; }
  .features .intro-icon {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0 0 0;
    margin-right: 20px; }
  .features .intro-content {
    display: inline-block;
    background: pink;
    width: 80%; }
  .features ul.features-stack {
    margin-top: 50px; }
  .features ul.features-stack li {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E6E9EA; }
  .features ul.features-stack li:last-child {
    padding-bottom: 0px;
    border-bottom: none; }
  .features .ipad-wrap {
    width: 706px;
    height: 1002px;
    background: url("../img/ipad-device.png") no-repeat center center;
    z-index: 1; }
  .features .iphone-wrap {
    width: 304px;
    height: 620px;
    background: url("../img/iphone6.png") no-repeat center center;
    position: absolute;
    left: 530px;
    bottom: 129px;
    z-index: 2; }
  .features .device-showcase {
    position: absolute;
    bottom: -365px;
    right: 61%; }

    .plan-1{
    background: darkslateblue;
    color: ghostwhite;
    padding: 10px  0;
    border-radius: 4px;
   letter-spacing: 2px;
    }

    .plan-2{
    background: TURQUOISE;
    color: ghostwhite;
    padding: 10px  0;
    border-radius: 4px;
    letter-spacing: 2px;
    }

    .plan {
    background: ghostwhite;
    border-radius: 4px;
    width: 100%;
    height: 320px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
    margin-bottom: 15px;
    margin-top: -15px;
    }

.planp {
padding-top: 15px;
    }

.features .responsive-feature-img, .features-extra .responsive-feature-img {
  display: none; }

.devices {
  position: relative; }

/* ==========================================================================
.features-extra
========================================================================== */
.features-extra {
  position: relative;
  z-index: 3; }
  .features-extra .btn {
    margin-top: 20px; }
  .features-extra .macbook-wrap {
    position: absolute;
    width: 402px;
    height: 233px;
    background: url("../img/plan.png") no-repeat center center;
    top: 114px;
    z-index: 4;
    left: 50%; }

/* ==========================================================================
.hero-strip
========================================================================== */
.hero-strip {
  background-color: #d9dee7;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSI1MCUiIGN5PSIwJSIgcj0iMTExLjgwMzM5ODg3NDk4OTQ4JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2Y4ZjhmYiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjZjhmOGZmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNlMGU0ZTgiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjQwOSIvPjxzdG9wIHN0b3AtY29sb3I9IiNjNWNjZGIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjcxNDAwMDAwMDAwMDAwMDEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
  /* Android 2.3- hack (needed for the actual radial gradient) */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSI1MCUiIGN5PSIwJSIgcj0iMTExLjgwMzM5ODg3NDk4OTQ4JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2Y4ZjhmYiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjZjhmOGZmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNlMGU0ZTgiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjQwOSIvPjxzdG9wIHN0b3AtY29sb3I9IiNjNWNjZGIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjcxNDAwMDAwMDAwMDAwMDEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=),
      -webkit-gradient(radial, center top, 0, center top, 572,color-stop(0, rgb(248, 248, 251)),color-stop(0, rgb(248, 248, 255)),color-stop(0.409, rgb(224, 228, 232)),color-stop(0.714, rgb(197, 204, 219)));
  /* Android 2.3 */
  background-image: -webkit-radial-gradient(center top, ellipse farthest-corner,rgb(248, 248, 251) 0%,rgb(248, 248, 255) 0%,rgb(224, 228, 232) 40.9%,rgb(197, 204, 219) 71.4%);
  /* IE10+ */
  background-image: radial-gradient(ellipse farthest-corner at center top,rgb(248, 248, 251) 0%,rgb(248, 248, 255) 0%,rgb(224, 228, 232) 40.9%,rgb(197, 204, 219) 71.4%);
  background-image: -ms-radial-gradient(center top, ellipse farthest-corner,rgb(248, 248, 251) 0%,rgb(248, 248, 255) 0%,rgb(224, 228, 232) 40.9%,rgb(197, 204, 219) 71.4%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff8f8fb",endColorstr="#ffc5ccdb",GradientType=0);
  padding-bottom: 200px;
  position: relative; }
  .hero-strip i {
    font-weight: normal;;
    font-size: 24px;
    color: turquoise;
    vertical-align: top;
    margin-left: -8px;
    font-style: normal; }
  .hero-strip .btn {
    margin-top: 30px; }
  .hero-strip .logo-placeholder {
    width: 230px;
    height: 230px;
    position: absolute;
    bottom: -275px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

/* ==========================================================================
.aboutus-intro
========================================================================== */
.aboutus-intro {
  padding-top: 60px; }
  .aboutus-intro h3 {
    margin-bottom: 70px; }
  .aboutus-intro .leftcol {
    padding-right: 100px;
    border-right: solid 1px  turquoise; }
  .aboutus-intro .rightcol {
    padding-left: 100px;}

/* ==========================================================================
.aboutus
========================================================================== */
.aboutus {
padding: 40px 0px; }
  .aboutus img {
    width:  100%;
    height: auto;
    border: 5px solid #f8f8ff;
    border-radius: 50%;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
  .aboutus h2 {
    font-size: 24px;
    color:  pink;
    text-transform: uppercase;
    margin-top: 25px;}
  .aboutus .aboutus-img-wrap {
    position: relative;
    overflow: hidden; }
    .aboutus .aboutus-img-wrap .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0; }
    .aboutus .aboutus-img-wrap i {
      color: pink;
      font-size: 20px;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 25px;
      right: 35px; }
  .aboutus .aboutus-img-wrap:hover img, .aboutus .aboutus-img-wrap:focus img {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .aboutus .aboutus-img-wrap:hover .overlay, .aboutus .aboutus-img-wrap:focus .overlay {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 1;
    z-index: 9; }
  .aboutus figcaption i {
    margin-left: 0px;
    font-size: 15px; }
  .aboutus figcaption a.aboutus-post-title {
    color: black; }
  .aboutus figcaption a.aboutus-post-title:hover, .aboutus figcaption a.aboutus-post-title:focus {
    color:  turquoise; }

/* ==========================================================================
.testimonial-slider
========================================================================== */
.testimonial-slider {
    background-color: #f8f8fb;
        /* IE9, iOS 3.2+ */
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSI1MCUiIGN5PSIwJSIgcj0iMTExLjgwMzM5ODg3NDk4OTQ4JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2Y4ZjhmYiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjZjhmOGZmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41Ii8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
        /* Android 2.3- hack (needed for the actual radial gradient) */
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSI1MCUiIGN5PSIwJSIgcj0iMTExLjgwMzM5ODg3NDk4OTQ4JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2Y4ZjhmYiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjZjhmOGZmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41Ii8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+),
            -webkit-gradient(radial, center top, 0, center top, 572,color-stop(0, rgb(248, 248, 251)),color-stop(0.5, rgb(248, 248, 255)));
        /* Android 2.3 */
        background-image: -webkit-radial-gradient(center top, ellipse farthest-corner,rgb(248, 248, 251) 0%,rgb(248, 248, 255) 50%);
        /* IE10+ */
        background-image: radial-gradient(ellipse farthest-corner at center top,rgb(248, 248, 251) 0%,rgb(248, 248, 255) 50%);
        background-image: -ms-radial-gradient(center top, ellipse farthest-corner,rgb(248, 248, 251) 0%,rgb(248, 248, 255) 50%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff8f8fb",endColorstr="#fff8f8ff",GradientType=0);
  background-size: cover; }
  .testimonial-slider .avatar {
    width: 200px;
    height: 200px;
    margin: 15px auto;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 50%;
    border: solid 5px white;;
    background-color: ghostwhite; }
    .testimonial-slider .avatar img {
      width: 200px;
      height: 200px; }
      .testimonial-slider h1 {
        font-size: 40px;
        margin: 30px 0; }
  .testimonial-slider h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 20px 20px; }
  .testimonial-slider p {
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 1px; }
  .flex-control-nav{
    bottom: -45px;
     }
.flex-control-paging li a {
  background: lightcyan;
       }
  .testimonial-padding {
    padding: 0 0 55px 0;
}

    /* ==========================================================================
    Join form
    ========================================================================== */
.strip {
background-color: #cde1e7;
background: -moz-linear-gradient(top, #b5d9e2 0%, #cde1e7 99%);
background: -webkit-linear-gradient(top, #b5d9e2 0%,#cde1e7 99%);
background: linear-gradient(to bottom, #b5d9e2 0%,#cde1e7 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5d9e2', endColorstr='#cde1e7',GradientType=0 );
padding: 10px 0 30px 0; }
}
/* ==========================================================================
Join form
========================================================================== */
.sign-up .signup-form .sign-up-btn {
  padding: 35px 0;
  border-radius: 4px;
  width: 80%;
  font-size: 14px; }
.sign-up .signup-form .form-input-group {
  width: 80%;
  height: 42px;
  margin: 0 auto 10px;
  border-radius: 4px;
  font-weight: normal;
  text-align: left;
  position: relative; }
  .sign-up .signup-form .form-input-group i {
    color: black;
    font-size: 14px; }
  .sign-up .signup-form .form-input-group i:after {
    content: "";
    height: 30px;
    width: 1px;
    border-right: solid 1px #E6E9EA;
    position: absolute;
    top: 50%;
    left: 30px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .sign-up .signup-form .form-input-group i.fa-lock {
    font-size: 18px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-left: 15px; }
  .sign-up .signup-form .form-input-group i.fa-envelope {
    font-size: 14px;
    position: absolute;
    top: 45%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-left: 15px; }
  .sign-up .signup-form .form-input-group input {
    padding-left: 60px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid black;}
  .sign-up .signup-form .form-input-group input::-webkit-input-placeholder {
    color: turquoise; }
  .sign-up .signup-form .form-input-group input:-moz-placeholder {
    color: yellow; }
  .sign-up .signup-form .form-input-group input::-moz-placeholder {
    color: magenta; }
  .sign-up .signup-form .form-input-group input:-ms-input-placeholder {
    color: indigo; }

/* ==========================================================================
To top
========================================================================== */
.to-top {
  height: 60px;
  background-color: black; }
  .to-top .to-top-wrap {
    height: 60px;
    width: 70px;
    position: absolute;
    right: 0;
    text-align: center; }
    .to-top .to-top-wrap a {
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.15); }
    .to-top .to-top-wrap a:hover, .to-top .to-top-wrap a:focus {
      background-color: rgba(0, 0, 0, 0.4); }
    .to-top .to-top-wrap i {
      font-size: 30px;
      line-height: 55px; }
  .to-top .row {
    position: relative; }

/* ==========================================================================
Footer
========================================================================== */
footer {
  background-color: #111;
  position: relative; }
  footer p {
    color: #444;
    font-size: 13px;
    font-weight: 300;}
  footer a {
    color:#aaa; }
  footer a:hover {
    color: turquoise; }
  footer ul.footer-group {
    padding-top: 25px;
    margin-bottom: 45px; }
  footer ul.footer-group li {
    display: inline-block; }
  footer ul.footer-group li a {
    font-size: 13px;
    text-transform: uppercase; }
  footer ul.footer-group li a:hover {
    color: turquoise; }
  footer ul.footer-group li {
    margin-right: 30px; }
  footer ul.footer-group li:last-child {
    margin-right: 0;}
  footer .social-share {
    position: absolute;
    background-color: #111;
    right: 0;
    width: 40%;
    height: 100%;
    padding: 60px 0 0 70px; }
    footer .social-share p {
      color: ghostwhite;
      text-transform: uppercase;
      padding-bottom: 10px; }
    footer .social-share a.twitter-share {
      height: 60px;
      width: 60px;
      background-color: #1AB4EF;
      border-radius: 3px;
      font-size: 22px;
      display: inline-block;
      text-align: center;
      margin-right: 20px; }
    footer .social-share a.twitter-share:hover, footer .social-share a.twitter-share:focus {
      background-color: #1590BF; }
    footer .social-share a.facebook-share:hover, footer .social-share a.facebook-share:focus {
      background-color: #324C85; }
    footer .social-share a.facebook-share {
      height: 60px;
      width: 60px;
      background-color: #3B5898;
      border-radius: 3px;
      font-size: 22px;
      display: inline-block;
      text-align: center; }
    footer .social-share a {
      color: ghostwhite; }
    footer .social-share a:hover {
      color: ghostwhite; }
    footer .social-share a i {
      margin-top: 20px; }
  footer .footer-links {
    margin: 50px 0 100px 0; }

/* ==========================================================================
Icon font (http://www.elegantthemes.com/aboutus/freebie-of-the-week/free-line-style-icons)
========================================================================== */
@font-face {
  font-family: 'et-line';
  src: url("../fonts/et-line.eot");
  src: url("../fonts/et-line.eot?#iefix") format("embedded-opentype"), url("../fonts/et-line.woff") format("woff"), url("../fonts/et-line.ttf") format("truetype"), url("../fonts/et-line.svg#et-line") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'et-line';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-mobile, .icon-laptop, .icon-desktop, .icon-tablet, .icon-phone, .icon-document, .icon-documents, .icon-search, .icon-clipboard, .icon-newspaper, .icon-notebook, .icon-book-open, .icon-browser, .icon-calendar, .icon-presentation, .icon-picture, .icon-pictures, .icon-video, .icon-camera, .icon-printer, .icon-toolbox, .icon-briefcase, .icon-wallet, .icon-gift, .icon-bargraph, .icon-grid, .icon-expand, .icon-focus, .icon-edit, .icon-adjustments, .icon-ribbon, .icon-hourglass, .icon-lock, .icon-megaphone, .icon-shield, .icon-trophy, .icon-flag, .icon-map, .icon-puzzle, .icon-basket, .icon-envelope, .icon-streetsign, .icon-telescope, .icon-gears, .icon-key, .icon-paperclip, .icon-attachment, .icon-pricetags, .icon-lightbulb, .icon-layers, .icon-pencil, .icon-tools, .icon-tools-2, .icon-scissors, .icon-paintbrush, .icon-magnifying-glass, .icon-circle-compass, .icon-linegraph, .icon-mic, .icon-strategy, .icon-beaker, .icon-caution, .icon-recycle, .icon-anchor, .icon-profile-male, .icon-profile-female, .icon-bike, .icon-wine, .icon-hotairballoon, .icon-globe, .icon-genius, .icon-map-pin, .icon-dial, .icon-chat, .icon-heart, .icon-cloud, .icon-upload, .icon-download, .icon-target, .icon-hazardous, .icon-piechart, .icon-speedometer, .icon-global, .icon-compass, .icon-lifesaver, .icon-clock, .icon-aperture, .icon-quote, .icon-scope, .icon-alarmclock, .icon-refresh, .icon-happy, .icon-sad, .icon-facebook, .icon-twitter, .icon-googleplus, .icon-rss, .icon-tumblr, .icon-linkedin, .icon-dribbble {
  font-family: 'et-line';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block; }

.icon-mobile:before {
  content: "\e000"; }

.icon-laptop:before {
  content: "\e001"; }

.icon-desktop:before {
  content: "\e002"; }

.icon-tablet:before {
  content: "\e003"; }

.icon-phone:before {
  content: "\e004"; }

.icon-document:before {
  content: "\e005"; }

.icon-documents:before {
  content: "\e006"; }

.icon-search:before {
  content: "\e007"; }

.icon-clipboard:before {
  content: "\e008"; }

.icon-newspaper:before {
  content: "\e009"; }

.icon-notebook:before {
  content: "\e00a"; }

.icon-book-open:before {
  content: "\e00b"; }

.icon-browser:before {
  content: "\e00c"; }

.icon-calendar:before {
  content: "\e00d"; }

.icon-presentation:before {
  content: "\e00e"; }

.icon-picture:before {
  content: "\e00f"; }

.icon-pictures:before {
  content: "\e010"; }

.icon-video:before {
  content: "\e011"; }

.icon-camera:before {
  content: "\e012"; }

.icon-printer:before {
  content: "\e013"; }

.icon-toolbox:before {
  content: "\e014"; }

.icon-briefcase:before {
  content: "\e015"; }

.icon-wallet:before {
  content: "\e016"; }

.icon-gift:before {
  content: "\e017"; }

.icon-bargraph:before {
  content: "\e018"; }

.icon-grid:before {
  content: "\e019"; }

.icon-expand:before {
  content: "\e01a"; }

.icon-focus:before {
  content: "\e01b"; }

.icon-edit:before {
  content: "\e01c"; }

.icon-adjustments:before {
  content: "\e01d"; }

.icon-ribbon:before {
  content: "\e01e"; }

.icon-hourglass:before {
  content: "\e01f"; }

.icon-lock:before {
  content: "\e020"; }

.icon-megaphone:before {
  content: "\e021"; }

.icon-shield:before {
  content: "\e022"; }

.icon-trophy:before {
  content: "\e023"; }

.icon-flag:before {
  content: "\e024"; }

.icon-map:before {
  content: "\e025"; }

.icon-puzzle:before {
  content: "\e026"; }

.icon-basket:before {
  content: "\e027"; }

.icon-envelope:before {
  content: "\e028"; }

.icon-streetsign:before {
  content: "\e029"; }

.icon-telescope:before {
  content: "\e02a"; }

.icon-gears:before {
  content: "\e02b"; }

.icon-key:before {
  content: "\e02c"; }

.icon-paperclip:before {
  content: "\e02d"; }

.icon-attachment:before {
  content: "\e02e"; }

.icon-pricetags:before {
  content: "\e02f"; }

.icon-lightbulb:before {
  content: "\e030"; }

.icon-layers:before {
  content: "\e031"; }

.icon-pencil:before {
  content: "\e032"; }

.icon-tools:before {
  content: "\e033"; }

.icon-tools-2:before {
  content: "\e034"; }

.icon-scissors:before {
  content: "\e035"; }

.icon-paintbrush:before {
  content: "\e036"; }

.icon-magnifying-glass:before {
  content: "\e037"; }

.icon-circle-compass:before {
  content: "\e038"; }

.icon-linegraph:before {
  content: "\e039"; }

.icon-mic:before {
  content: "\e03a"; }

.icon-strategy:before {
  content: "\e03b"; }

.icon-beaker:before {
  content: "\e03c"; }

.icon-caution:before {
  content: "\e03d"; }

.icon-recycle:before {
  content: "\e03e"; }

.icon-anchor:before {
  content: "\e03f"; }

.icon-profile-male:before {
  content: "\e040"; }

.icon-profile-female:before {
  content: "\e041"; }

.icon-bike:before {
  content: "\e042"; }

.icon-wine:before {
  content: "\e043"; }

.icon-hotairballoon:before {
  content: "\e044"; }

.icon-globe:before {
  content: "\e045"; }

.icon-genius:before {
  content: "\e046"; }

.icon-map-pin:before {
  content: "\e047"; }

.icon-dial:before {
  content: "\e048"; }

.icon-chat:before {
  content: "\e049"; }

.icon-heart:before {
  content: "\e04a"; }

.icon-cloud:before {
  content: "\e04b"; }

.icon-upload:before {
  content: "\e04c"; }

.icon-download:before {
  content: "\e04d"; }

.icon-target:before {
  content: "\e04e"; }

.icon-hazardous:before {
  content: "\e04f"; }

.icon-piechart:before {
  content: "\e050"; }

.icon-speedometer:before {
  content: "\e051"; }

.icon-global:before {
  content: "\e052"; }

.icon-compass:before {
  content: "\e053"; }

.icon-lifesaver:before {
  content: "\e054"; }

.icon-clock:before {
  content: "\e055"; }

.icon-aperture:before {
  content: "\e056"; }

.icon-quote:before {
  content: "\e057"; }

.icon-scope:before {
  content: "\e058"; }

.icon-alarmclock:before {
  content: "\e059"; }

.icon-refresh:before {
  content: "\e05a"; }

.icon-happy:before {
  content: "\e05b"; }

.icon-sad:before {
  content: "\e05c"; }

.icon-facebook:before {
  content: "\e05d"; }

.icon-twitter:before {
  content: "\e05e"; }

.icon-googleplus:before {
  content: "\e05f"; }

.icon-rss:before {
  content: "\e060"; }

.icon-tumblr:before {
  content: "\e061"; }

.icon-linkedin:before {
  content: "\e062"; }

.icon-dribbble:before {
  content: "\e063"; }
